
/*Header stuff */

#header {
  min-width: 100rem;
  height: 10rem;
}

#headNavContainer {
  height: 10 rem;
  min-width: 20rem;
}

/*Main navigation*/
.navigationdiv {
	display: inline-block;
	/* width: auto; */
	margin: auto;
}

.navigationdiv a p {
	margin: 0.1em 0 0.2em 0.4em;
	font-family: Quattrocento;
	font-size: 50px;
	text-align: center;
}

.navigationdiv a:hover {
	text-decoration: none;
}

/*User-info-login-thing*/
.headerRight {
  float: right;
  clear:right;
  padding: 1em 1em 1em 1em;
  color: #000000;
  text-align: right;
  min-width: 10em;
  height: 10rem;
}

.headerRightText {
  float:left;
  padding-right: 10px;
}

.headerRight img{
  float:right;
  height: 70px;
  width: 70px;
}