.Basic-button {
    background-color: pink; /* Green background */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.navigationdiv {
	display: inline-block;
	width: auto;
	margin: auto;
}


.navigationdiv a p {
	margin: 10px 15px 15px 15px;
	font-family: Quattrocento;
	font-size: 50px;
	text-align: center;
}

/* Add padding to container elements */
.container {
    width: auto;
    box-sizing: border-box;
}

.nav-sidebar {
  box-sizing: border-box;
  float: left;
  width:20%;
  text-align: center;
}

.nav-sidebar ul {
  display: table-row;
  width:100%;
  display: inline-block;
}

.nav-sidebar ul li {
  list-style-type: none;
  vertical-align: middle;
  text-align: center;
}

.navBar {
  float:left;
  width: 15;
}

.content {
  float:right;
  width: 80%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.headerRight {
  float: right;
  clear:right;
  padding-right: 20px;
  padding-top: 20px;
  color: #000000;
  text-align: right;
}

.headerRightText {
  float:left;
  padding-right: 10px;
}

.headerRight img{
  float:right;
  height: 70px;
  width: 70px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.cancelbtn,.signupbtn,.loginbtn {float:left;width:10%}


.container2 {
    padding: 16px;
}

/* The Close Button  */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
}


/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Change styles for cancel button and signup button on extra small screens */
