/*Header stuff */
/*Main navigation*/
.navigationdiv {
	display: inline-block;
	width: auto;
	margin: auto;
}

.navigationdiv a p {
	margin: 10px 15px 15px 15px;
	font-family: Quattrocento;
	font-size: 50px;
	text-align: center;
}

/*User-info-login-thing*/
.headerRight {
  float: right;
  clear:right;
  padding-right: 20px;
  padding-top: 20px;
  color: #000000;
  text-align: right;
}

.headerRightText {
  float:left;
  padding-right: 10px;
}

.headerRight img{
  float:right;
  height: 70px;
  width: 70px;
}

/*Side navigation*/
.nav-sidebar {
  box-sizing: border-box;
  float: left;
  width:20%;
  text-align: center;
}

.nav-sidebar ul {
  display: table-row;
  width:100%;
  display: inline-block;
}

.nav-sidebar ul li {
  list-style-type: none;
  vertical-align: middle;
  text-align: center;
}

/* Main content */
.content {
  float:right;
  width: 80%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

/*Form stylings*/
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}
