body {
  padding:20px;
  margin: 20px;
}

/*Header stuff */
/*Main navigation*/
.navigationdiv {
	display: inline-block;
	width: auto;
	margin: auto;
}

.navigationdiv a p {
	margin: 10px 15px 15px 15px;
	font-family: Quattrocento;
	font-size: 50px;
	text-align: center;
}

.navigationdiv a:hover {
	text-decoration: none;
}

/*User-info-login-thing*/
.headerRight {
  float: right;
  clear:right;
  padding-right: 20px;
  padding-top: 20px;
  color: #000000;
  text-align: right;
}

.headerRightText {
  float:left;
  padding-right: 10px;
}

.headerRight img{
  float:right;
  height: 70px;
  width: 70px;
}

/*Side navigation*/
.nav-sidebar {
  box-sizing: border-box;
  float: left;
  width:20%;
  text-align: center;
}

.nav-sidebar ul {
  display: table-row;
  width:100%;
  display: inline-block;
}

.nav-sidebar ul li {
  list-style-type: none;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

/* Main content */
.content {
  float:right;
  width: 80%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
	font-family: Verdana;
}

.content h1 {
  font-family: Quattrocento;
  font-size: 30px;
  width: 100%;
  border-bottom: 1px dashed #676767;
  display: block;
}

.content h2 {
	font-family: Quattrocento;
	font-size: 26px;
}

.content p {
  background-color: #EEEEEE;
  padding: 10px;
}

.content li {
	list-style-type: none;
	padding:5
}

.gamesalee{
    font: italic bold 12px/30px serif;
}

/*Form stylings*/
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

/*User image*/
.profilePicture {
	width: 150px;
	height: 150px;
	margin-left:auto;
	margin-right:auto;
	display: block;
	margin-top:20px;
	margin-bottom:20px;
}

.profileTitle {
	width: 20%;
	padding: 5px;
	text-transform: uppercase;
}

.userList {
	padding: 5px;
}

/*Changes odd table rows to grey, mostly for profile*/
tr:nth-child(odd) {
	background-color: #EEEEEE;
}
/*gamesale*/
.sale{
color: red;
}