<!DOCTYPE html>
<html>

<head>
    <title>Toimi plz</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontpage/style.css' %}" />
	 {% load static %}
	<link rel="stylesheet" href="{% static 'frontpage/script.js' %}" media="screen" />


</head>

    <h1>Verkkokauppa</h1>

<div class="Basic-button">
	 <button style="width:15%" class="tablinks"  id="defaultOpen">Home</button>

	<a href="games/">
  <button style="width:15%">Games</button>
	</a>
  <button style="width:15%">Browse</button>



	<!--this do the sign up thing-->

	<button id= "signup" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>
	<button id="login" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>


<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content animate" action="/action_page.php">
    <div class="container">
      <label><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      <input type="checkbox" checked="checked"> Remember me


      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>


<!--home page texts-->
	<div id="Home" class="tabcontent">
      <span onclick="this.parentElement.style.display='none'"></span>
        <h3>Etusivu</h3>
        <p>jejj.</p>
    </div>


</div>



</div>


</body>
</html>

