{% extends "base_html.html" %}

{% block content %}

<h1>Login</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
  <div class="prettyForm">
{% csrf_token %}

<ul>
  <li>{{ form.username.label_tag }}</li>
  <li>{{ form.username }}</li>

  <li>{{ form.password.label_tag }}</li>
  <li>{{ form.password }}</li>

  <li><input type="submit" value="login" /></li>
  <input type="hidden" name="next" value="{{ next }}" />
</ul>

  </div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
<p><a href="{% url 'signup' %}">Sign up</a></p>

{% endblock %}
