{% extends "base_html.html" %}

{% block content %}

    {% if validlink %}
    <p>Please enter (and confirm) your new password.</p>
    <div class="prettyForm">
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <ul>
                <li>
                    {{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label>
                    {{ form.new_password1 }}
                </li>
                <li>
                    {{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label>
                    {{ form.new_password2 }}</td>
                </li>
                <li>
                    <input type="submit" value="Change my password" />
                </li>
            </ul>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}
