{% extends "base_html.html" %}

{% block content %}
<!-- gamesales/forms.py has ChangeGameForm what we are using here -->
<!-- back button to the page where is developer's own games
    and possible to change those -->
<a href="{% url 'manage_games' %}"><button>&#8592; Back </button></a>

<h1>Edit game </h1>
<form method="POST" enctype="multipart/form-data">
    <div class="prettyForm">
    {%csrf_token %}
    {{ form.as_ul }}
    <ul>
    <li>Game for sale:<br>
        Yes<input type="radio" name="sale" value="yes">/
        No<input type="radio" name="sale" value="no"></li>
    <li>Delete Game:<br>
        Yes<input type="radio" name="delete" value="yes">/
        No<input type="radio" name="delete" value="no"></li>
    <button type="submit">Change</button>
    </ul>
    </div>
</form>

{% endblock %}




