{% extends "base_html.html" %}

{% block content %}

<p>täällä muutetaan sitä peliä</p>

<form method="POST" enctype="multipart/form-data">
    {%csrf_token %}
    {{ form.as_p }}
    <p>Game for sale:<br>
  Yes<input type="radio" name="sale" value="yes">/
            No<input type="radio" name="sale" value="no"></p>

        <p>Delete Game:<br>
  Yes<input type="radio" name="delete" value="yes">/
            No<input type="radio" name="delete" value="no"></p>


    <button type="submit">Change</button>
</form>



{% endblock %}




