{% extends "base_html.html" %}
{% load static %}

{% block content %}

<h1>{{user.username}}'s profile</h1>

<img src="{% static 'media/def_userpic.jpg' %}"
    class="profilePicture"
    alt="User"/>

<table style="width:100%" padding-top="20px">
  <tr>
    <th class="profileTitle">User</th>
    <td>{{user.username}}</td>
  </tr>
  <tr>
    <th class="profileTitle">Birthday</th>
    <td>{{user.profile.birth_date}}</td>
  </tr>
  <tr>
    <th class="profileTitle">Developer</th>
    <td>{{user.profile.is_developer}}</td>
  </tr>
  {% if user.profile.is_developer %}
  <tr>
    <th class="profileTitle">Managed games</th>
    <td>  {% for game in games %}
          <li>{{game.name}}</li>
          {% endfor %}</td>
  </tr>
  {% endif %}
</table>

<h2>Bio</h2>
{% if user.profile.bio != "" %}
<p>{{user.profile.bio}}</p>
{% else %}
<p>{{user.username}} hasn't written a bio yet</p>
{% endif %}

<a href="{% url 'update_profile' %}">Update profile</a>

{% endblock %}
