{% extends "base_html.html" %}
{% load static %}

{% block content %}

{% if user.is_developer %}
  <h2> Cool developer profile page</h2>
{% else %}
  <h2>Cool gamer profile page </h2>
{% endif %}

<img src="{% static 'media/def_userpic.jpg' %}"
    height="100px"
    width="100px"
    alt="User">

<ul>
    <li>User: {{user.username}}</li>
    <li>Email: {{user.email}}</li>
    <li>Bio: {{ user.profile.bio }}</li>
    <li>Birthday: {{user.profile.birth_date }}</li>
    <li>Managed games:
      {% for game in games %}
        <p>{{game.name}}</p>
      {% endfor %}
    </li>
</ul>

{% endblock %}
