{% extends "base_html.html" %}
{% load static %}

{% block content %}

<h1>{{user.username}}'s profile</h1>

{% if user.profile.photo != "" %}
<img src="{{user.profile.photo.url}}"
    height="100px"
    width="100px"
    alt="User"/>
{% else %}
<img src="{% static 'media/def_userpic.jpg' %}"
     height="150px"
     width="150px"
     alt="User">
{% endif %}

<table style="width:100%" padding-top="20px">
  <tr>
    <th class="profileTitle">User</th>
    <td>{{user.username}}</td>
  </tr>
  <tr>
    <th class="profileTitle">Birthday</th>
    <td>{{user.profile.birth_date}}</td>
  </tr>
  <tr>
    <th class="profileTitle">Developer</th>
    <td>{{user.profile.is_developer}}</td>
  </tr>
  {% if user.profile.is_developer %}
  <tr>
    <th class="profileTitle">Managed games</th>
    <td>  {% for game in games %}
          <li>{{game.name}}</li>
          {% endfor %}</td>
  </tr>
  {% endif %}
</table>

<h2>Bio</h2>
{% if user.profile.bio != "" %}
<p>{{user.profile.bio}}</p>
{% else %}
<p>{{user.username}} hasn't written a bio yet</p>
{% endif %}

<a href="update_profile/{{user.pk}}">Update profile</a>

{% endblock %}
