{% extends "base_user.html" %}
{% load static %}

{% block content %}

{% if userfound %}
<span class="profileBlock">
<h1>{{viewUser.username}}'s profile</h1>
{% if viewUser == user %}
<a href="../update_profile/{{user.pk}}">Update profile</a>
{% endif %}

{% if viewUser.profile.photo != "" %}
<img src="{{viewUser.profile.photo.url}}"
    class=profilePicture
    alt="User"/>
{% else %}
<img src="{% static 'media/def_userpic.jpg' %}"
  class=profilePicture
  alt="User">
{% endif %}
</span>

<div class="separator"></div>

<span class="profileBlock" style="background: #fff;">
<h2>Information</h2>
<table style="width:100%" padding-top="20px">
  <tr>
    <th class="profileTitle">Username</th>
    <td>{{viewUser.username}}</td>
  </tr>
  <tr>
    <th class="profileTitle">First name</th>
    <td>{{viewUser.first_name}}</td>
  </tr>
  <tr>
    <th class="profileTitle">last name</th>
    <td>{{viewUser.last_name}}</td>
  </tr>
  <tr>
    <th class="profileTitle">Birthday</th>
    <td>{{viewUser.profile.birth_date}}</td>
  </tr>
  <tr>
    <th class="profileTitle">E-mail</th>
    <td>{{viewUser.email}}</td>
  </tr>
  <tr>
    <th class="profileTitle">Status</th>
    <td>{% if viewUser.profile.is_developer %} Developer {% else %} Gamer {% endif %}</td>
  </tr>

  {% if viewUser.profile.is_developer %}
  <tr>
    <th class="profileTitle">Managed games</th>
    <td>  {% for game in games %}
          {% with '/games/'|add:game.id as gameurl %}
          <li><a href={{ gameurl }}>{{ game.name }}</li>
          {% endwith %}
          {% endfor %}</td>
  </tr>
{% endif %}
</table>
</span>

<div class="separator"></div>
<span class="profileBlock">
<h2>Bio</h2>
{% if viewUser.profile.bio != "" %}
<p>{{viewUser.profile.bio}}</p>
{% else %}
<p>{{viewUser.username}} hasn't written a bio yet</p>
{% endif %}
</span>

{% else %}
Unfortunately we couldn't find the user you were looking for :(
{% endif %}

{% endblock %}
