{% extends "base_html.html" %}

{% block content %}

{% if user.is_authenticated %}

<form method="post" action="/addGame/">


    Developer:<br>
        <input type="text" name="developer" value="">
    <br>

    Title:<br>
        <input type="text" name="title">
    <br>

    Description of the Game:<br>
        <input type="text" name="description">
    <br>

   Price:
  <input type="number" name="price" min="0"><br>

  <!--Quantity (between 1 and 5):
  <input type="number" name="quantity" min="1" max="5"><br>-->

  <input type="submit" value="Add Game"><br>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}

</form>


<!--<h2>Django Forms Tutorial</h2>
<form method="post" action="/getdata/">
    <table>
        <tr>
            <td>Enter your name:</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td>Enter your email:</td>
            <td><input type="email" name="email"/></td>
        </tr>
        <tr>
            <td>Enter your phone:</td>
            <td><input type="text" name="phone"/></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>
</form>-->
{% endblock %}
