{% extends "base_html.html" %}



{% block content %}

{% if gamefound %}


<h1>{{ game.name }}</h1>
<h2>Price {{ game.price }}e </h2>
<p>Developer {{ game.developer }} </p>

{% elif pageview %}

<h1>Games for sale!</h1>
{% for game in games %}
{% with '/games/'|add:game.id as gameurl %}
<h3><a href={{ gameurl }}>{{ game.name }}</a></h3>
<p>Price {{game.price}} </p>
{% endwith %}
{% endfor %}


{% else %}
<h1 class="textRight">Peliä ei löytynyt!</h1>
<p class="textRight">Valitettavasti peliä ei tämän id:n alta löytynyt. Ole hyvä jä yritä uudelleen</p>



{% endif %}
{% endblock %}

{% block sidebar %}

    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->




<div class="container">
        <div class="col-sm-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li><a href="/profile">profile</a></li>
                    <li><a href="/addGame">Add game</a></li>
                    <li><a href="/sales">sales</a></li>

                </ul>
            </nav>
        </div>


</div>


{% endblock%}



{% block show %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="" src="..." alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="" src="..." alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="" src="..." alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock %}


