{% extends "base_html.html" %}
{% block content %}
<h3>Column 1</h3>
      <p>jotain tietoa pelistä...</p>
        <div class="bs-example">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sijat</th>
                <th>Name</th>
                <th>pisteet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>nimi</td>
                <td>pisteet</td>
            </tr>
            <tr>
                <td>2</td>
                <td>nimi</td>
                <td>Pisteet</td>
            </tr>
            <tr>
                <td>3</td>
                <td>nimi</td>
                <td>pisteet</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block sidebar %} moi {% endblock%}