{% extends "base_gamesales.html" %}
{% load staticfiles %}

{% block content %}


<h1>Games</h1>


{% for game in games %}
{% with '/games/'|add:game.id as gameurl %}
<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default  panel--styled">
					<div class="panel-body">
						<div class="col-md-12 panelTop">
							<div class="col-md-4">
								<img class="img-responsive" src="{{game.image.url}}" alt=""/>
							</div>
							<div class="col-md-8">
								<h2><a href={{ gameurl }}>{{ game.name }}</a></h2>
								{% if game.onsale %}
								  <div class="gamesalee">
                              <div class="oldprice" >
                                  <p>Price {{game.price}} €</p>
                              </div>
                                <div class="sale">
                                     <p>Sale price {{ game.saleprice }} € </p>
                                </div>
                            </div>
								{% else %}
								<p>Price:  {{ game.price }} €</p>
								{% endif %}

							{% if game not in ownedGames %}
							{% with '/payment/'|add:game.id as paymenturl %}
							<div class="col-md-12 panelBottom">
								<a href={{paymenturl }}>
									<button class="btn btn-success btn-lg btn-add-to-cart">
										<span class="glyphicon glyphicon-shopping-cart"></span> Buy</button></a>
							{% endwith %}
							</div>
							{% endif %}


						</div>


							<div class="col-md-4">
								<div class="stars">
								<div id="stars" class="starrr"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>








{% endwith %}




{% endfor %}

{% endblock %}
