{% extends "base_html.html" %}
{% load staticfiles %}


{% block content %}

{% if gamefound %}
<h1>{{ game.name }}</h1>
<h2>Price {{ game.price }}e </h2>
<p>Developer {{ game.developer }} </p>

{% with '/play/'|add:game.id as playurl %}
<a href={{ playurl }}><button class='btn btn-success' value='Click to play the game' onclick='window.location={{ playurl }}'>Play!</button></a>
{% endwith %}

{% else %}
<h1 class="textRight">Peliä ei löytynyt!</h1>
<p class="textRight">Valitettavasti peliä ei tämän id:n alta löytynyt. Ole hyvä jä yritä uudelleen</p>
{% endif %}

{% endblock %}
