{% extends "base_gamesales.html" %}
{% load staticfiles %}

{% block content %}
 <!-- This is single game page, when user have click some game to show
 more informations-->
{% if gamefound %}
<h1>{{ game.name }}</h1>
    <div class="media">
        <img class="align-self-start mr-3" src="{{game.image.url}}" alt="{{game.name}}" width=300px height=auto>
        <div class="media-body">
            <p>Ages {{game.ageRestriction}} and up</p>

            <!-- when game is on sale. There is sale price otherwise price-->
            {% if game.onsale %}
                <div class="gamesalee">
                    <p>
                    <span class="sale">
                        Now only {{ game.saleprice }}€
                    </span>
                    </p>
                </div>

            {% else %}
                <p>Price: {{ game.price }} € </p>
            {% endif %}

            <p>Developer: {{ game.developer }} </p>

            {% if alreadyOwned %} {% with '/play/'|add:game.id as playurl %}
                <a href={{ playurl }}>
                    <button class='btn btn-success' value='Click to play the game' onclick='window.location={ playurl }'>Play!</button>
                </a>
                <br>
                {% endwith %}
            {% else %} {% with '/payment/'|add:game.id as paymenturl %}
                <a href={{ paymenturl }}>
                    <button class='btn btn-success' value='Click to buy the game!' onClick='' window.location='{ paymenturl }'>Buy</button>
                </a>
                {% endwith %}
            {% endif %}
        </div>
    </div>

    <!-- Game info text-->
    <h2>About the game</h2>
        <span class="profileBlock"><p>{{ game.infotext }}</p></span>

    <!-- user is game developer (s)he see soldcopies and the dates-->
    {% if game.developer == user %}
        <h2>Sales</h2>
    <span class="profileBlock">
        <!-- if zero bought there is different text, also with one bought and many-->
        {% if zeroBought %}
            <p>No one has bought this game yet!</p>
        {% elif oneBought %}
            <p>The game has been bought {{ game.soldcopies }} time</p>
            <h3> Date:</h3>
        {% else %}
            <p>The game has been bought {{ game.soldcopies }} times</p>
            <h3> Dates: </h3>
    {% endif %}

<p>
    <!-- The date and number of sold games in that day are in same line-->
    {% for date in sold %}
        {% if date in numbers %}
            sold: {{ date }}<br>
        {% else %}
            {{ date }}
        {% endif %}
    {% endfor %}
</p>
    </span>
    {% endif %}

{% else %}
    <h1 class="textRight">The game was not found!</h1>
    <p class="textRight">Unfortunately, there is no game with that id. Please try again or <a href="{% url 'games' %}"> go back to see all games? </a></p>
{% endif %}
{% endblock %}