{% extends "base_html.html" %}

{% block content %}
<h3>Pelit myytyjen kopioiden määrän mukaan:</h3>
<br>

{% for game in games %}
{% with 'games/'|add:game.id as gameurl %}
<p>Pelin nimi <a href={{ gameurl }}>{{ game.name }}</a>, myydyt kopiot {{ game.soldcopies }} ja pelin hinta {{ game.price }}€</p>
{% endwith %}
{% endfor %}
<p>Moikkeliskoikkelis!</p>
<br>

{% if user.is_authenticated %}
<li>User: {{ user.get_username }}</li>
<li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
{% else %}
<li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
{% endif %}

{% endblock %}

