{% extends "base_html.html" %}
{% load static %}

{% block pelimainos %}
<div class="jumbotron text-center" height="3000px" style='padding-top: 2px; padding-bottom: 10px'>
    <h2>Newest games!</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" height="150px">
    <div class="carousel-inner" role="listbox">
        {% for new in three_newest %}
        {% with '/games/'|add:new.id as gameurl %}
        <div class="{% cycle 'carousel-item active' 'carousel-item' 'carousel-item' %}">
            <a href={{ gameurl }}><img src="{{new.image.url}}" alt="Cover Image" height="100px" width="100px" /></a>
            <p>{{ new.name }}</p>
            {% if new.onsale %}
            <div class="gamesalee">
                <div class="oldprice">
                    <p>Price {{new.price}} €</p>
                </div>
                <div class="sale">
                    <p>Sale price {{ new.saleprice }} € </p>
                </div>
            </div>
            {% else %}
                <p>Price: {{ new.price }} €</p>
            {% endif %}
        </div>
        {% endwith %}
        {% endfor %}
    </div>
    </div>
</div>

{% endblock %}


{% block content %}
<h1>Newest games</h1>
<br>
{% for game in games %}
{% with 'games/'|add:game.id as gameurl %}
<p>Pelin nimi <a href={{ gameurl }}>{{ game.name }}</a>, myydyt kopiot {{ game.soldcopies }} ja pelin hinta {% if game.onsale %} {{game.saleprice}} {% else %}{{ game.price }} {% endif%}€</p>
{% endwith %}
{% endfor %}
{% endblock %}


