<!DOCTYPE html>
<html>

<head>
    {% block title %}<title>Web Shop | JavaScript Games Online</title>{% endblock %}
    <meta charset="utf-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gamesales/styles.css' %}" />
   <!-- {% load static %}
	<link rel="stylesheet" href="{% static 'gamesales/script.js' %}" media="screen" />-->

    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<div id="header">
    {% block header %}
    <div class="navigationdiv">
        <a href="/"><p>Home</p></a>
    </div>
    <div class="navigationdiv">
        <a href="/games"><p>Games</p></a>
    </div>
    <div class="navigationdiv">
        <a href="/sales"><p>Sales</p></a>
    </div>

    <div class="headerRight">
      {% if user.is_authenticated %}
      <div class="headerRightText">
        <p>Hello {{ user.username }}!<br>
        <a href="{% url 'profile' %}">Profile</a><br>
        <a href="{%url 'logout' %}?next={{request.path}}">Logout</a></p>
      </div>
        <img src="{% static 'media/def_userpic.jpg' %}" alt="User">
      {% else %}
      <div class="headerRightText">
        <p><a href="{% url 'login' %}">Login</a><br>
          <a href="{% url 'signup' %}">Sign up</a><br></p>
      </div>
      {% endif %}
    </div>

    {% endblock %}
</div>


<div class="jumbotron text-center">
    {% block show %}
  <h1>Games</h1>
  <p>Here you find all the games</p>
    {% endblock %}
</div>




<div class="container">
    <div class="row"></div>
    <div class="col-sm-4">
        {% block sidebar %}{% endblock %}
    </div>
    <div class="col-sm-4">
        {% block content %}
        {% endblock %}
    </div>
</div>


</body>


</html>
