<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">


    <title>
        {% if not game %}
        Game not found!
        {% else %}
        {{ game.name }}
        {% endif %}
    </title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'base/playStyles.css' %}" type="text/css"/>
</head>
<body>

{% if not game %}

<h1>The game does not either exists, or you have not bought it!</h1>
<a href="{% url 'play' %}"><button>&#8592; Go back? </button></a>


{% else %}

<a href="{% url 'play' %}"><button>&#8592; Go back</button></a>
<h2>{{ game.name }}</h2>
{% with game.link as gameurl %}

<iframe src={{ gameurl }} id="iframe" frameborder="0">

</iframe>
<h2 id="msg">Enjoy playing</h2>

<hr style="width: 80%; margin-top: 5%">
<div id="highscore">
    <h2>Highscores</h2>
    <hr>
    <div id="hsinner">
    {% if not highscores %}
    <h3>There's no highscores for this game!</h3>
    {% else %}
        <ol>
    {% for score in highscores %}
    <li>Player: {{ score.scorer }} with {{ score.score }} points!</li>
    {% endfor %}
        </ol>
    {% endif %}
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">

    var iframeWin = document.getElementById('iframe').contentWindow;

    $( window ).ready(function() {
        $("body").fadeIn(2000);
    });

    window.onmessage = function(event){
        var msg = event['data'];
        var game_id = '{{ game.id }}'

        if(msg['messageType'] == "SETTING") {
            $("#iframe").height(msg['options']['height']);
            $("#iframe").width(msg['options']['width']);
        }
        else if(msg['messageType'] == "SCORE") {
            var score = msg['score'];
            $.post("/play/" + game_id + "/save_scores/", {"game_id" : game_id, "score" : score }, function(data) {
                $( "#msg" ).text(data['Message']);
            });
        }
        else if(msg['messageType'] == "SAVE") {
            var game_state = JSON.stringify(msg['gameState']);
            $.post("/play/" + game_id + "/save_state/", {"game_id": game_id, "game_state" : game_state}, function(data) {
                $( "#msg" ).text(data['Message']);
            });
        }
        else if(msg['messageType'] == "LOAD_REQUEST") {
            $.get("/play/" + game_id + "/load_state/", { "game_id" : game_id }, function(data) {
                iframeWin.postMessage(data, "*");
                $( "#msg" ).text(data['Message']);
            });
        }
    };

</script>




{% endwith %}
{% endif %}
</body>
</html>

