{% extends "base_play.html" %}


{% block content %}
{% if user.is_authenticated %}

<h1>Your games</h1>

<div class="row mt-5 justify-content-left">

{% for game in games %}

<div class="card" style="max-width: 250px; margin-bottom: 10px; margin-right: 5px;">
    <img class="card-img-top" src="{{game.image.url}}" alt="Game Image">
    <div class="card-body">
        <!-- <h5 class="card-title">{{game.name}}</h5>
        <p class="card-text">Highscore tähän?</p> -->
    </div>
    <div class="card-footer">
        
        {% with '/play/'|add:game.id as gameurl %}
        <a href="{{gameurl}}"
            class="btn btn-primary"
            onclick="window.open(this.href, '{{game.name}}', 'width=1000, height=700, left=24, top=24, scrollbars, resizable'); return false;">Play</a>
        {% endwith %}
    </div>
</div>
{% endfor %}
</div>
{% else %}

<h1>You are required to log in in order to play!</h1>
{% endif %}
{% endblock %}
<!--</body>
</html>-->
