{% extends "base_gamesales.html" %} {% block content %}

<h2>Buy game {{ game.name }} </h2>

{% if alreadyOwned %}
You already own this game!

{% else %}

<ul>
    <li>Game {{ game.name }}</li>
    <li>Price: {{ price }} </li>
</ul>

<form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
    <input type="hidden" name="pid" value="{{ pid }}" />
    <input type="hidden" name="sid" value="{{ sid }}" />
    {% with 'http://localhost:8000/payment/success/'|add:game.id as gameurl %}
    <input type="hidden" name="success_url" value="{{ gameurl }}" />
    {% endwith %}
    <input type="hidden" name="cancel_url" value="{{ cancel_url }}" />
    <input type="hidden" name="error_url" value="{{ error_url }}" />
    <input type="hidden" name="checksum" value="{{ checksum }}" />
    <input type="hidden" id="id_amount" name="amount" value={{ price }} />
    <input type="submit" value="Buy for price {{ price }}" /><br>
    {% with '/games/'|add:game.id as gameurl %}
    <br><a href={{ gameurl }}>Go back</a>
    {% endwith %}

{% endif %}
{% endblock %}