{% extends "base_gamesales.html" %} {% block content %}

<h2>Buy game {{ game.name }} </h2>

<ul>
    <li>Game {{ game.name }}</li>
    <li>Price: {{ price }} </li>
</ul>

<form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
    <input type="hidden" name="pid" value="payment1" />
    <input type="hidden" name="sid" value="groupBest" />
    <input type="hidden" name="success_url" value="http://localhost:8000/payment/success" />
    <input type="hidden" name="cancel_url" value="http://localhost:8000/payment/cancel" />
    <input type="hidden" name="error_url" value="http://localhost:8000/payment/error" />
    <input type="hidden" name="checksum" value="ee306a1dec60d40534391106f7855434" />
    <input type="hidden" id="id_amount" name="amount" value={{ price }} />
    <!-- <label for="password" id="id_password" name="password" -->
    <input type="submit" value="Buy for price {{ price }}" /><br>
    {% with '/games/'|add:game.id as gameurl %}
    <br><a href={{ gameurl }}>Go back</a>
    {% endwith %}

{% endblock %}